// Primary Colors
$color-primary: #03c124;
$color-primary-hover: #02891a;
$color-primary-active: #026a14;
$color-primary-light: #e6f9e9;

// Gray Scale
$gray-100: #f7f7f8;
$gray-200: #e5e5e5;
$gray-300: #d7d7d7;
$gray-400: #bababa;
$gray-500: #8f8f8f;
$gray-600: #767676;
$gray-700: #565656;
$gray-800: #323232;

// Black & White
$color-black: #121212;
$color-white: #ffffff;

// Semantic Colors
$color-error: #e82929;
